<!--
								MODIFIED BY		:		ANUJ DUGGAL
								DATE MODIFIED		:		JANUARY 13, 2015
-->

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
	
	<h1>Event Registrations Page</h1>
	
	<form action='' method="POST">

		<div>	
			<label for="event_name">Event Name</label>
			<input id="event_name" type="text" name="event_name">
		</div>
		<br>
		<div>	
			<label for="event_date">Event Date</label>
			<input id="event_date" type="date" name="event_date" placeholder="DD-MM-YYYY">
		</div>
		<br>
		<div>	
			<label for="event_venue">Event Venue</label>
			<input id="event_venue" type="text" name="event_venue">
		</div>
		<br>
		<div>	
			<label for="event_type">Event Type</label>
			<input type="radio" name="event_typeId" value="Meetup">Meetup
			<input type="radio" name="event_typeId" value="Hackathon">Hackathon
			<input type="radio" name="event_typeId" value="Workshop">Workshop
			<input type="radio" name="event_typeId" value="DevFest">DevFest
			<input type="radio" name="event_typeId" value="IOExtended">IOExtended
		</div>
		<div>	
			<label for="event_description">Event Description</label>
			<textarea id="event_description" type="text" name="event_description" placeholder="About the event" rows="3" cols="40"></textarea>
		</div>
		<br>
		<div>	
			<label for="event_tech">Event Technology</label>
			<input type="checkbox" name="event_techId" value="Android">Android
			<input type="checkbox" name="event_techId" value="Chrome">Chrome
			<input type="checkbox" name="event_techId" value="Polymer">Polymer
			<input type="checkbox" name="event_techId" value="Cloud">Cloud
			<input type="checkbox" name="event_techId" value="UI/UX">UI/UX
		</div>
		<br>
		<div>	
			<label for="event_GPLusLink">Google Plus Event Link</label>
			<input id="event_GPLusLink" type="text" name="event_GPLusLink">
		</div>
		<br>
		<div>	
			<label for="event_points">Event Points</label>
			<!-- <input id="event_points" type="text" name="event_points" min="1" max="8"> -->
			<select name="event_points">
				<option id="event_points" value="0">No Points</option>
				<option id="event_points" value="1">Beginner</option>
  				<option id="event_points" value="2">Intermediate</option>
  				<option id="event_points" value="3">Expert</option>
			</select> 
		</div>
		<br>
		<br>
<!--		<div>	
			<label for="event_dev_registered">Developers Registred</label>
			<input id="event_points" type="text" name="event_dev_registered" min="1" max="1000">
		</div>
		<br>
		<div>	
			<label for="event_dev_attended">Developers Attended</label>
			<input id="event_points" type="text" name="event_dev_attended" min="1" max="1000">
		</div>
-->
		


		<input type="submit" value="Create Event" />
		
	</form>
	

</body>
</html>
