<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
	
	<h1>Registration Page</h1>

	<h3>Welcome Developer!</h3>
	
	<form action="../register" method=post>

		<div>	
			<label for="firstName">First Name</label>
			<input id="firstName" type="text">
		</div>
		<br>
		<div>	
			<label for="lastName">Last Name</label>
			<input id="lastName" type="text">
		</div>
		<br>
		<div>	
			<label for="email">Email</label>
			<input id="email" type="text">
		</div>
		<br>
		<div>	
			<label for="phone">Phone</label>
			<input id="phone" type="text">
		</div>
		<br>
		<div>	
			<label for="dob">Date of Birth</label>
			<input id="dob" type="text">
		</div>
		<br>
		<div>	
			<label for="dob">Date of Birth</label>
			<input id="dob" type="text">
		</div>
		<br>
		<div>	
			<label for="sex">Sex </label>
			<input type="radio" name="sex" value="male" checked>Male 
			<input type="radio" name="sex" value="female">Female
		</div>
		<br>
		<div>	
			<label for="org">Organization</label>
			<input id="org" type="text">
		</div>
		<br>
		<div>	
			<label for="github">GitHub Username</label>
			<input id="github" type="text">
		</div>
		<br>
		<div>	
			<label for="linkedin">LinkedIn</label>
			<input id="linkedin" type="text">
		</div>
		<br>
		<div>	
			<label for="gplus">Google Plus Username</label>
			<input id="gplus" type="text">
		</div>
		<br>
		<div>	
			<label for="techid">Interested Technology</label>
			<input type="checkbox" name="techandroid">Android
			<input type="checkbox" name="techchrome">Chrome
			<input type="checkbox" name="techpolymer">Polymer
			<input type="checkbox" name="techcloud">Cloud
			<input type="checkbox" name="techuiux">UI/UX
		</div>


		<button action="form.submit" type="button">Submit</button>
		
	</form>
	

</body>
</html>