<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
	
	<h1>Registration Page</h1>

	<h3>Welcome Developer!</h3>
	
	<form action='' method="POST">

		<div>	
			<label for="firstName">First Name</label>
			<input id="firstName" type="text" name="firstName" required pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{1,20}$">
		</div>
		<br>
		<div>	
			<label for="lastName">Last Name</label>
			<input id="lastName" type="text" name="lastName" required pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{1,20}$">
		</div>
		<br>
		<div>	
			<label for="email">Email</label>
			<input id="email" type="text" name="email" placeholder="ex@example.com" required >
		</div>
		<br>
		<div>	
			<label for="phone">Phone</label>
			<input id="phone" type="text" name="phone" placeholder="+91-xxxxxxxxxx" required pattern="(\+?\d[- .]*){7,13}">
		</div>
		<br>
		<div>	
			<label for="dob">Date of Birth</label>
			<input id="dob" type="date" name="dob" placeholder="DD-MM-YYYY">
		</div>
		<br>
		<div>	
			<label for="sex">Sex </label>
			<input type="radio" name="sex_mf" value="Male" required>Male 
			<input type="radio" name="sex_mf" value="Female">Female
		</div>
		<br>
		<div>	
			<label for="org">Organization</label>
			<input id="org" type="text" name="org" required>
		</div>
		<br>
		<div>	
			<label for="github">GitHub Username</label>
			<input id="github" type="text" name="github">
		</div>
		<br>
		<div>	
			<label for="linkedin">LinkedIn</label>
			<input id="linkedin" type="text" name="linkedin">
		</div>
		<br>
		<div>	
			<label for="gplus">Google Plus Username</label>
			<input id="gplus" type="text" name="gplus">
		</div>
		<br>
		<div>	
			<label for="tech">Interested Technology</label>
			<input type="checkbox" name="techid" value="Android">Android
			<input type="checkbox" name="techid" value="Chrome">Chrome
			<input type="checkbox" name="techid" value="Polymer">Polymer
			<input type="checkbox" name="techid" value="Cloud">Cloud
			<input type="checkbox" name="techid" value="UI/UX">UI/UX
		</div>


		<input type="submit" value="Submit" />
		
	</form>
	

</body>
</html>
